.orders {
    display: flex;
    flex-flow: column;

    align-items: center;

    margin: 100px 16px 40px 16px;
}


.orders_list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px; 

    width: 600px;
    height: calc(100vh - 410px);


    overflow-x: hidden;
    overflow-y: auto;  
}

