.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    margin: auto;
    gap: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    margin: 40px 0px 40px 0px;
    gap: 20px;
  }


  .row {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;

    gap: 10px;
  }

