.burger_constructor {
    display: flex;
    flex-flow: column;

    margin: 100px 16px 40px 16px;
 

    width: 600px;


    background: #131316;

}

.burger_constructor_list{

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 24px; 
    margin-bottom: 40px;

}

.burger_bun{

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;

    margin: 2px 16px 2px 2px;
    padding-left: 34px;
}


.burger_filling_list{
    display: flex;
    flex-flow: column;

    height: calc(100vh - 520px);


    overflow-x: hidden;
    overflow-y: auto;  

}
                  
.burger_filling{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;

}



