.burger_constructor {
    display: flex;
    flex-flow: column;

    margin: 100px 16px 40px 16px;
 

    width: 600px;
    height: 500px;


    /* interface/bg */

    background: #131316;

}

.burger_filling{
    display: flex;
    flex-flow: column;

    height: 290px;


    overflow-x: hidden;
    overflow-y: auto;  



}

