.app {
  text-align: center;

  height: calc(100vh - 20px);

}


.app_container {

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  
  height: calc(100vh - 108px);

  gap: 40px;

}

.app_loading, .app_error {

  width: 100%;
  margin: auto;

  display: flex;

  align-items: center;
  justify-content: center;

  height: 300px;

}
