.burger_ingredient_card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 270px;
    height: 200px;

    margin: 4px 4px 0px 0px;

   /* border: 1px dashed blue;
    box-sizing: border-box;*/
  }