
.modal_root {
    display: flex;
    position: fixed;
  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
  }
  
  .modal_overlay {
  
    position: absolute;
  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    background-color: rgba(0, 0, 0, .5);
  
    z-index: 100;
  }
  
  .modal_content {
  
    position: relative;
  
    width: 200px;
    height: 200px;
  
    margin: auto;
  
    background-color: white;
    border-radius: 5;
  
    z-index: 200;
  
  }
  
  
  .modal_close {
    position: absolute;
    right: -20px;
    top: -20px;
  
    background-color: red;
  
    width: 16px;
    height: 16px;
  
    cursor: pointer;
  }