.cart_total{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: right;

}

.price_module{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}