.burger-ingredient-category {
    display: flex;
    flex-direction: column;
    align-items: center;



    border-style: solid;  
    border-color: red;   
  }

  .burger-ingredient-category-caption {
    width: 100%;
    text-align: left;


    border-style: solid;  
    border-color: green;   
  }