.burger-ingredient-category {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px dashed red;
 
  }

  .burger-ingredient-category-caption {
    width: 100%;
    text-align: left;


  /*  border-style: dashed;  
    border-color: green;   */
  }