
.burger_ingredient_category {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0px 0px 20px 0px;

  }

  .burger_ingredient_category_caption {
    width: 100%;
    text-align: left;

  }

  .burger_ingredient_list{

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 16px; 

}

               