.burger_ingredients {
    display: flex;
    flex-flow: column;

    align-items: center;

    width: 600px;
    height: 912px;


    /* interface/bg */

    background: #131316;

}

.burger_ingredient_caption {
    width: 100%;
    text-align: left;

    margin-top: 20px;
}