.order_card {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    width: 100%;
    height: 150px;

    margin: 4px 4px 0px 0px;

    cursor: pointer;

    background: #1C1C21;
    border-radius: 30px;
  }

  .flex_center_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}