

  .app_header {

    height: 88px;
    display: flex;
    align-items: center;

    background: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

   }

.app_nav {

  width: 100%;
  margin: 0 auto;


  display: flex;
  flex-flow: row nowrap;

 justify-content: space-evenly;
 flex-direction: row;


  height: 88px;
  left: 2%;
  right: 2%;
  top: 40px;

}

.navigation_panel{


  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  gap: 8px;

  justify-content: left;

  flex-basis: 30%;

}


.navigation_link{


    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 6px;

    color: #8585AD; 

}


a:link.navigation_link {

  text-decoration: none;

  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #8585AD; 


}


a:hover.navigation_link {

	color: #F2F2F3;

}

.link_icon {
  display: flex;
}
.link_icon_hover {
  display: none;
}
a:hover.navigation_link div.link_icon  {
  display: none;
}
a:hover.navigation_link div.link_icon_hover {
  display: flex;
}




.navigation_logo{


  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;


}


.navigation_account{


  display: flex;
  justify-content: right;

  flex-basis: 30%;


}

  
.flex_center {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

